## 1. 제공된 데이터 합치기

In [1]:
import pandas as pd
import numpy as np

pitcher_df_2016 = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv", encoding="utf-8-sig")
pitcher_df_2017 = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv", encoding="utf-8-sig") 
pitcher_df_2018 = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv", encoding="utf-8-sig") 
pitcher_df_2019 = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv", encoding="utf-8-sig") 
pitcher_df_2020 = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2020.csv", encoding="utf-8-sig") 
pitcher_df = pd.concat([pitcher_df_2016, pitcher_df_2017, pitcher_df_2018, pitcher_df_2019, pitcher_df_2020])

hitter_df_2016 = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv", encoding="utf-8-sig") 
hitter_df_2017 = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv", encoding="utf-8-sig") 
hitter_df_2018 = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv", encoding="utf-8-sig") 
hitter_df_2019 = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv", encoding="utf-8-sig") 
hitter_df_2020 = pd.read_csv("2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2020.csv", encoding="utf-8-sig") 
hitter_df = pd.concat([hitter_df_2016, hitter_df_2017, hitter_df_2018, hitter_df_2019, hitter_df_2020])

## 2. 데이터 전처리하기
### 2-1. T_ID 기준 데이터 전처리

In [2]:
# 투수 데이터 전처리
pitcher_df["TB_SC"][pitcher_df["TB_SC"] == "B"] = 1
pitcher_df["TB_SC"][pitcher_df["TB_SC"] == "T"] = 0
# pitcher_df["WLS"][pitcher_df["WLS"] == "W"] = 1
# pitcher_df["WLS"][pitcher_df["WLS"] == "L"] = 0
# pitcher_df["WLS"][pitcher_df["WLS"] == "D"] = -1
p_columns = list(pitcher_df.columns)
front_lst = p_columns[:5]
back_lst = p_columns[5:]
back_lst = ["p_" + column for column in back_lst]
p_columns = front_lst + back_lst
pitcher_df.columns = p_columns

# 타자 데이터 전처리
hitter_df.drop(["G_ID", "GDAY_DS", "T_ID", "VS_T_ID", "TB_SC", "HEADER_NO"], axis=1, inplace=True)
h_columns = list(hitter_df.columns)
h_columns = ["h_" + column for column in h_columns]
hitter_df.columns = h_columns
df = pd.concat([pitcher_df, hitter_df], axis=1)
df.rename(columns={"p_WLS":"WLS"}, inplace=True)

# YEAR 데이터 추가
dates = df["GDAY_DS"].to_list()
year = ["".join(list(str(date))[:4]) for date in dates ]
df["YEAR"] = year

# 인덱스 순서 변경
df_columns = list(df.columns)
df_columns_reindex = df_columns[:4] + [df_columns[7]] + [df_columns[-1]] + df_columns[4:7] + df_columns[8:-1]
df = df[df_columns_reindex] 
df

c:\users\julia\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\julia\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,G_ID,GDAY_DS,T_ID,VS_T_ID,WLS,YEAR,HEADER_NO,p_TB_SC,p_CG_CK,p_HOLD,...,h_BB,h_IB,h_HP,h_KK,h_GD,h_ERR,h_LOB,h_P_HRA_RT,h_P_AB_CN,h_P_HIT_CN
0,20160401HHLG0,20160401,LG,HH,W,2016,0,1,0,0,...,4,0,0,11,0,0,8,0.333333,12,4
1,20160401HHLG0,20160401,HH,LG,L,2016,0,0,0,0,...,3,0,0,10,1,2,12,0.200000,15,3
2,20160401HTNC0,20160401,NC,HT,W,2016,0,1,0,0,...,5,0,0,9,1,1,7,0.142857,7,1
3,20160401HTNC0,20160401,HT,NC,L,2016,0,0,0,0,...,3,0,1,10,1,0,7,0.100000,10,1
4,20160401KTSK0,20160401,SK,KT,L,2016,0,1,0,0,...,0,0,0,7,1,1,5,0.375000,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,20200719LTSS0,20200719,LT,SS,W,2020,0,0,0,2,...,1,0,0,7,3,0,2,0.000000,2,0
636,20200719OBHT0,20200719,HT,OB,L,2020,0,1,0,0,...,6,0,0,5,1,0,7,0.571429,7,4
637,20200719OBHT0,20200719,OB,HT,W,2020,0,0,0,1,...,2,1,2,4,0,0,6,0.363636,11,4
638,20200719WOSK0,20200719,SK,WO,W,2020,0,1,0,0,...,7,0,0,10,0,0,9,0.250000,8,2
639,20200719WOSK0,20200719,WO,SK,L,2020,0,0,0,2,...,3,0,1,4,1,0,7,0.333333,3,1

### 2-2. VS_T_ID 기준 데이터 전처리

In [3]:
df_vs = df.copy()
df_vs.drop(["WLS", "HEADER_NO"],axis=1, inplace=True)

merge_col = list(df.columns)[:4] + [list(df.columns)[5]]
df_vs_col = list(df.columns)[7:]
vs_rename_col_dict = dict()

for i in df_vs_col:
    vs_rename_col_dict[i] = 'vs_'+i

vs_rename_col_dict["T_ID"] = 'VS_T_ID'
vs_rename_col_dict["VS_T_ID"] = "T_ID"

df_vs = df_vs.rename(columns = vs_rename_col_dict)

df = pd.merge(df, df_vs, how = 'left', left_on = merge_col, right_on = merge_col)

## 3. 24개 경기로 합치기
이때 train, test를 미리 나누어 둔 후, train 부분에 대해서만 데이터 늘리기 적용

In [4]:
data_col = list(df.columns)
team = list(df.T_ID.unique())

default_col = ['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', "YEAR"]
size_col = ['WLS']
sum_col = list(df.columns)[6:]

tmp = set(default_col)|set(size_col)|set(sum_col)
size_df = df[default_col + size_col]
sum_df = df[default_col + sum_col]

### 3-1. Size

In [16]:
# Key값 변경
def make_pct(df):
    tmp = pd.DataFrame({"COUNT":df.groupby(["T_ID","WLS","YEAR"]).size()}).pivot_table("COUNT",["T_ID","YEAR"],"WLS").reset_index().sort_values(["YEAR","T_ID"]).reset_index(drop=True)
    tmp.fillna(0,inplace= True)

    if "L" not in list(tmp.columns):
        tmp["L"] = 0

    if "W" not in list(tmp.columns):
        tmp["W"] = 0
    
    tmp["PCT"] = tmp['W']/(tmp['W']+tmp['L'])
    return tmp

size_df_cal = pd.DataFrame([])

key = 24
for y in [2016,2017,2018,2019,2020]:
    print("===",y)
    
    y_tmp = size_df[size_df["YEAR"]==str(y)]
    for t in team:
        print(t)
        
        idx = 0
        
        ttmp_df = y_tmp[y_tmp["T_ID"]==t]
        tmp_size = len(ttmp_df)
        
        #test
        test_tmp_df = ttmp_df.iloc[:tmp_size-key,:]
        tmp2 = make_pct(test_tmp_df)
        tmp2['IDX'] = 777
        tmp2['MERGE_IDX'] = 0
        
        size_df_cal = pd.concat([size_df_cal, tmp2], axis = 0)
        
        # train
        tmp_df = ttmp_df.iloc[:tmp_size-key,:]
        t_size = len(tmp_df)
               
        m_idx = 1
        while idx < key:
            k_idx = 1
            for k in range((t_size-idx)//key):
                tmp1 = tmp_df.iloc[:key*(k+1)+idx,:]
                
                tmp2 = make_pct(tmp1)
                
                tmp2['IDX'] = k_idx 
                tmp2['MERGE_IDX'] = m_idx
                
                
                k_idx += 1
                m_idx += 1
                
                size_df_cal = pd.concat([size_df_cal, tmp2], axis = 0)
            idx += 1
      
size_df_cal.drop(["W","D","L"], axis = 1, inplace = True)
size_df_cal

=== 2016
LG
HH
NC
HT
SK
KT
WO
LT
SS
OB
=== 2017
LG
HH
NC
HT
SK
KT
WO
LT
SS
OB
=== 2018
LG
HH
NC
HT
SK
KT
WO
LT
SS
OB
=== 2019
LG
HH
NC
HT
SK
KT
WO
LT
SS
OB
=== 2020
LG
HH
NC
HT
SK
KT
WO
LT
SS
OB

   T_ID  YEAR       PCT  IDX  MERGE_IDX
0    LG  2016  0.478992  777          0
0    LG  2016  0.500000    1          1
0    LG  2016  0.489362    2          2
0    LG  2016  0.450704    3          3
0    LG  2016  0.452632    4          4
..  ...   ...       ...  ...        ...
0    OB  2020  0.583333    1         13
0    OB  2020  0.567568    1         14
0    OB  2020  0.578947    1         15
0    OB  2020  0.589744    1         16
0    OB  2020  0.600000    1         17

[4100 rows x 5 columns]

### 3-2. Sum

In [18]:
def make_sum(df):
    tmp = df.groupby(["T_ID","YEAR"]).sum().reset_index()
    return tmp

In [20]:
sum_df_cal = pd.DataFrame([])

key = 24
for y in [2016,2017,2018,2019,2020]:
    print("===",y)
    
    y_tmp = sum_df[sum_df["YEAR"]==str(y)]
    for t in team:
        print(t)
        
        idx = 0
        
        ttmp_df = y_tmp[y_tmp["T_ID"]==t]
        tmp_size = len(ttmp_df)
        
        #test
        test_tmp_df = ttmp_df.iloc[:tmp_size-key,:]
        tmp2 = make_sum(test_tmp_df)
        
        tmp2['IDX'] = 777
        tmp2['MERGE_IDX'] = 0

        sum_df_cal = pd.concat([sum_df_cal, tmp2], axis = 0)
        
        # train
        tmp_df = ttmp_df.iloc[:tmp_size-key,:]
        t_size = len(tmp_df)
               
        m_idx = 1
        while idx < key:
            k_idx = 1
            for k in range((t_size-idx)//key):
                tmp1 = tmp_df.iloc[:key*(k+1)+idx,:]
                tmp2 = make_sum(tmp1)
                
                tmp2['IDX'] = k_idx 
                tmp2['MERGE_IDX'] = m_idx
                k_idx += 1
                m_idx += 1
                
                sum_df_cal = pd.concat([sum_df_cal, tmp2], axis = 0)
            idx += 1

=== 2016
LG
HH
NC
HT
SK
KT
WO
LT
SS
OB
=== 2017
LG
HH
NC
HT
SK
KT
WO
LT
SS
OB
=== 2018
LG
HH
NC
HT
SK
KT
WO
LT
SS
OB
=== 2019
LG
HH
NC
HT
SK
KT
WO
LT
SS
OB
=== 2020
LG
HH
NC
HT
SK
KT
WO
LT
SS
OB

In [22]:
sum_df_cal

,T_ID,YEAR,GDAY_DS,HEADER_NO,p_CG_CK,p_HOLD,p_INN2,p_BF,p_PA,p_AB,...,vs_h_HP,vs_h_KK,vs_h_GD,vs_h_ERR,vs_h_LOB,vs_h_P_HRA_RT,vs_h_P_AB_CN,vs_h_P_HIT_CN,IDX,MERGE_IDX
0,LG,2016,2419275220,0,1,56,3212,18391,4849,4190,...,98,758,101,77,928,35.715367,1174,365,777,0
0,LG,2016,483850160,0,1,13,650,3680,973,848,...,13,168,25,18,181,7.272668,234,77,1,1
0,LG,2016,967702835,0,1,22,1297,7330,1929,1671,...,26,311,46,33,370,15.058252,444,147,2,2
0,LG,2016,1451557818,0,1,32,1940,10952,2912,2526,...,51,448,66,40,559,22.176003,695,223,3,3
0,LG,2016,1935415410,0,1,42,2582,14810,3897,3367,...,77,597,85,59,746,28.453670,943,294,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,OB,2020,727219835,0,0,12,971,5700,1466,1293,...,17,236,22,25,282,9.712001,374,111,1,13
0,OB,2020,747420452,0,0,12,998,5869,1507,1331,...,17,245,24,25,290,9.934224,383,113,1,14
0,OB,2020,767621070,0,0,13,1025,6002,1541,1360,...,17,246,28,26,294,10.100890,389,114,1,15
0,OB,2020,787821689,0,0,13,1052,6190,1590,1402,...,19,256,28,28,306,10.373617,411,120,1,16
0,OB,2020,808022309,0,0,13,1079,6340,1624,1435,...,19,262,30,28,311,10.516475,418,121,1,17

### 3-3. 데이터 합치기

In [23]:
merge_df = pd.merge(size_df_cal, sum_df_cal, how= 'left', left_on = ['T_ID',"YEAR","MERGE_IDX","IDX"], right_on  = ['T_ID',"YEAR","MERGE_IDX","IDX"])
merge_df
# merge_df.drop(["MERGE_IDX"],axis=1,inplace = True)

,T_ID,YEAR,PCT,IDX,MERGE_IDX,GDAY_DS,HEADER_NO,p_CG_CK,p_HOLD,p_INN2,...,vs_h_BB,vs_h_IB,vs_h_HP,vs_h_KK,vs_h_GD,vs_h_ERR,vs_h_LOB,vs_h_P_HRA_RT,vs_h_P_AB_CN,vs_h_P_HIT_CN
0,LG,2016,0.478992,777,0,2419275220,0,1,56,3212,...,458,26,98,758,101,77,928,35.715367,1174,365
1,LG,2016,0.500000,1,1,483850160,0,1,13,650,...,90,7,13,168,25,18,181,7.272668,234,77
2,LG,2016,0.489362,2,2,967702835,0,1,22,1297,...,189,9,26,311,46,33,370,15.058252,444,147
3,LG,2016,0.450704,3,3,1451557818,0,1,32,1940,...,275,16,51,448,66,40,559,22.176003,695,223
4,LG,2016,0.452632,4,4,1935415410,0,1,42,2582,...,372,22,77,597,85,59,746,28.453670,943,294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4095,OB,2020,0.583333,1,13,727219835,0,0,12,971,...,129,5,17,236,22,25,282,9.712001,374,111
4096,OB,2020,0.567568,1,14,747420452,0,0,12,998,...,132,5,17,245,24,25,290,9.934224,383,113
4097,OB,2020,0.578947,1,15,767621070,0,0,13,1025,...,136,5,17,246,28,26,294,10.100890,389,114
4098,OB,2020,0.589744,1,16,787821689,0,0,13,1052,...,140,5,19,256,28,28,306,10.373617,411,120
4099,OB,2020,0.600000,1,17,808022309,0,0,13,1079,...,141,5,19,262,30,28,311,10.516475,418,121

## 4. 세이버 매트릭스 변환 함수

In [24]:
# 공통 부분
# T_ID, YEAR, PCT, IDX, MERGE_IDX

# T_ID 팀
# p_CG_CK, p_HOLD, p_INN2, p_BF, p_PA, p_AB, p_HIT, p_H2, p_H3
# p_HR, p_SB, p_CS, p_SH, p_SF, p_BB, p_IB, p_HP, p_KK, p_GD, p_WP, p_BK, p_ERR, p_R, p_ER, p_P_WHIP_RT, p_P2_WHIP_RT
# p_CB_WHIP_RT, h_PA, h_AB, h_RBI, h_RUN, h_HIT, h_H2, h_H3, h_HR, h_SB, h_CS, h_SH, h_SF, h_BB, h_IB, h_HP, h_KK
# h_GD, h_ERR, h_LOB, h_P_HRA_RT, h_P_AB_CN, h_P_HIT_CN

# vs_T_ID 팀 (vs_만 붙이면 같음)

'''
@ Augment를 세이버매트릭스로 변환하기 전 주의사항
1. P_WHIP_RT, P2_WHIP_RT, CB_WHIP_RT, P_HRA_RT를 그대로 누적했는데 그대로 누적해서
사용하면 안되는 값이다.
- 값이 너무 커서 일단 24로 나눠서 경기 당 평균값으로 만들었다
- RC도 값이 커서 24로 나눠서 경기 당 평균값으로 만들었다.

2.변환 이후 정규화

3.이닝 수, 득점, 타수, 실점 기록 추가가 필요할까..? (승률에서는 일단 제외)
'''


def convert_attribute(df):
    #column
    new_index = ["T_ID", "YEAR", "PCT", "IDX", "MERGE_IDX",
             "WHIP", "LOB", "ERA", "FIP", "H_9", "K_9", "BB_9", "HR_9",
             "AVG", "oAVG", "SLG", "oSLG", "OBP", "oOBP", "P_WHIP_RT", "P2_WHIP_RT", "CB_WHIP_RT",
             "OPS", "oOPS", "RC", "GPA", "SECA", "TA", "ISO", "oISO", "wOBA", "P_HRA_RT", "DER",
             "vs_WHIP", "vs_LOB", "vs_ERA", "vs_FIP", "vs_H_9", "vs_K_9", "vs_BB_9", "vs_HR_9",
             "vs_AVG", "vs_oAVG", "vs_SLG", "vs_oSLG", "vs_OBP", "vs_oOBP", "vs_P_WHIP_RT", "vs_P2_WHIP_RT", "vs_CB_WHIP_RT",
             "vs_OPS", "vs_oOPS", "vs_RC", "vs_GPA", "vs_SECA", "vs_TA", "vs_ISO", "vs_oISO", "vs_wOBA", "vs_P_HRA_RT", "vs_DER"]
    
    #시작
    new_df = pd.DataFrame(columns = new_index)
    
    # 공통 부분T_ID, YEAR, PCT, IDX, MERGE_IDX
    new_df["T_ID"] = df["T_ID"]
    new_df["YEAR"] = df["YEAR"]
    new_df["PCT"] = df["PCT"]
    new_df["IDX"] = df["IDX"]
    new_df["MERGE_IDX"] = df["MERGE_IDX"]
    
    
    # 자주 사용되는 변환 값
    p_H1 = (df["p_HIT"] - df["p_H2"] - df["p_H3"] - df["p_HR"]) #피 1루타
    h_H1 = (df["h_HIT"] - df["h_H2"] - df["h_H3"] - df["h_HR"]) #1 루타
    RC_A = (df["h_HIT"] + df["h_BB"] - df["h_CS"] + df["h_HP"] - df["h_GD"]) #출루능력
    RC_B = 0.24 * (df["h_BB"] - df["h_IB"] + df["h_HP"]) + (0.62 * df["h_SB"]) + 0.5 * (df["h_SH"] + df["h_SF"]) - 0.03 * df["h_KK"] #진루능력
    RC_C = (df["h_AB"] + df["h_BB"] + df["h_HP"] + df["h_SH"] + df["h_SF"]) #주어진 기회
    
    vs_p_H1 = (df["vs_p_HIT"] - df["vs_p_H2"] - df["vs_p_H3"] - df["vs_p_HR"]) #피 1루타
    vs_h_H1 = (df["vs_h_HIT"] - df["vs_h_H2"] - df["vs_h_H3"] - df["vs_h_HR"]) #1 루타
    vs_RC_A = (df["vs_h_HIT"] + df["vs_h_BB"] - df["vs_h_CS"] + df["vs_h_HP"] - df["vs_h_GD"]) #출루능력
    vs_RC_B = 0.24 * (df["vs_h_BB"] - df["vs_h_IB"] + df["vs_h_HP"]) + (0.62 * df["vs_h_SB"]) + 0.5 * (df["vs_h_SH"] + df["vs_h_SF"]) - 0.03 * df["vs_h_KK"] #진루능력
    vs_RC_C = (df["vs_h_AB"] + df["vs_h_BB"] + df["vs_h_HP"] + df["vs_h_SH"] + df["vs_h_SF"]) #주어진 기회
    #----------------------- T_ID
    new_df["WHIP"] = (df["p_HIT"] + df["p_BB"]) / (df["p_INN2"] / 3)
    new_df["LOB"] = (df["p_HIT"] + df["p_BB"] + df["p_HP"] - df["p_R"]) / (df["p_HIT"] + df["p_BB"] + df["p_HP"] - (1.4 * df["p_HR"]))
    new_df["ERA"] = (9 * df["p_ER"]) / (df["p_INN2"] / 3)
    new_df["FIP"] = ((13 * df["p_HR"]) + (3 * (df["p_BB"] + df["p_HP"] - df["p_IB"])) - (2 * df["p_KK"])) / (df["p_INN2"] / 3)
    new_df["H_9"] = (9 * df["p_HIT"]) / (df["p_INN2"] / 3)
    new_df["K_9"] = (9 * df["p_KK"]) / (df["p_INN2"] / 3)
    new_df["BB_9"] = (9 * df["p_BB"]) / (df["p_INN2"] / 3)
    new_df["HR_9"] = (9 * df["p_HR"]) / (df["p_INN2"] / 3)
    new_df["AVG"] = (df["h_HIT"] / df["h_AB"])
    new_df["oAVG"] = (df["p_HIT"] / (df["p_PA"] - df["p_BB"] - df["p_HP"] - df["p_SF"] - df["p_SB"]))
    new_df["SLG"] = (h_H1 + df["h_H2"] * 2 + df["h_H3"] * 3 + df["h_HR"] * 4) / (df["h_AB"])
    new_df["oSLG"] = (p_H1 + (2 * df["p_H2"]) + (3 * df["p_H3"]) + (4 * df["p_HR"])) / (df["p_PA"] - df["p_BB"] - df["p_HP"] - df["p_SF"] - df["p_SB"])
    new_df["OBP"] = (df["h_HIT"] + df["h_BB"] + df["h_HP"]) / (df["h_AB"] + df["h_BB"] + df["h_HP"] + df["h_SF"])
    new_df["oOBP"] = (df["p_HIT"] + df["p_BB"]) / (df["p_AB"] + df["p_BB"] + df["p_HP"] + df["p_SF"])
    new_df["P_WHIP_RT"] = (df["p_P_WHIP_RT"] / 24) 
    new_df["P2_WHIP_RT"] = (df["p_P2_WHIP_RT"] / 24) 
    new_df["CB_WHIP_RT"] = (df["p_CB_WHIP_RT"] / 24) 
    new_df["OPS"] = (new_df["OBP"] + new_df["SLG"])
    new_df["oOPS"] = (new_df["oOBP"] + new_df["oSLG"])
    new_df["RC"] = (((2.4 * RC_C + RC_A) * (3 * RC_C + RC_B)) / (9 * RC_C) - (0.9 * RC_C)) / 24
    new_df["GPA"] = ((1.8 * new_df["OBP"] + new_df["SLG"]) / 4)
    new_df["SECA"] = (((df["h_H2"] * 2) + (df["h_H3"] * 3) + (df["h_HR"] * 4) + df["h_BB"] + (df["h_SB"] - df["h_CS"])) / df["h_AB"])
    new_df["TA"] = ((h_H1 + (df["h_H2"] * 2) + (df["h_H3"] * 3) + (df["h_HR"] * 4) + df["h_HP"] + df["h_BB"] + df["h_SB"]) / (df["h_AB"] - df["h_HIT"] + df["h_CS"] + df["h_GD"]))
    new_df["ISO"] = (new_df["SLG"] - new_df["AVG"])
    new_df["oISO"] = (new_df["oSLG"] - new_df["oAVG"])
    new_df["wOBA"] = ((0.7 * (df["h_BB"] - df["h_IB"]) + (0.73 * df["h_HP"]) + (0.89 * h_H1) + (1.27 * df["h_H2"]) + (1.61 * df["h_H3"]) + (2.07 * df["h_HR"]) + (0.25 * df["h_SB"]) -
                (0.5 * df["h_CS"])) / (df["h_AB"] - df["h_IB"]))
    new_df["P_HRA_RT"] = df["h_P_HRA_RT"] 
    new_df["DER"] = ((df["p_PA"] - df["p_HIT"] - df["p_KK"] - df["p_BB"] - df["p_HP"] - df["p_IB"] - df["p_BK"]) / (df["p_PA"] - df["p_HR"] - df["p_KK"] - df["p_BB"] - df["p_HP"]))
    
    
    #----------------------- vs_T_ID
    new_df["vs_WHIP"] = (df["vs_p_HIT"] + df["vs_p_BB"]) / (df["vs_p_INN2"] / 3)
    new_df["vs_LOB"] = (df["vs_p_HIT"] + df["vs_p_BB"] + df["vs_p_HP"] - df["vs_p_R"]) / (df["vs_p_HIT"] + df["vs_p_BB"] + df["vs_p_HP"] - (1.4 * df["vs_p_HR"]))
    new_df["vs_ERA"] = (9 * df["vs_p_ER"]) / (df["vs_p_INN2"] / 3)
    new_df["vs_FIP"] = ((13 * df["vs_p_HR"]) + (3 * (df["vs_p_BB"] + df["vs_p_HP"] - df["vs_p_IB"])) - (2 * df["vs_p_KK"])) / (df["vs_p_INN2"] / 3)
    new_df["vs_H_9"] = (9 * df["vs_p_HIT"]) / (df["vs_p_INN2"] / 3)
    new_df["vs_K_9"] = (9 * df["vs_p_KK"]) / (df["vs_p_INN2"] / 3)
    new_df["vs_BB_9"] = (9 * df["vs_p_BB"]) / (df["vs_p_INN2"] / 3)
    new_df["vs_HR_9"] = (9 * df["vs_p_HR"]) / (df["vs_p_INN2"] / 3)
    new_df["vs_AVG"] = (df["vs_h_HIT"] / df["vs_h_AB"])
    new_df["vs_oAVG"] = (df["vs_p_HIT"] / (df["vs_p_PA"] - df["vs_p_BB"] - df["vs_p_HP"] - df["vs_p_SF"] - df["vs_p_SB"]))
    new_df["vs_SLG"] = (vs_h_H1 + df["vs_h_H2"] * 2 + df["vs_h_H3"] * 3 + df["vs_h_HR"] * 4) / (df["vs_h_AB"])
    new_df["vs_oSLG"] = (vs_p_H1 + (2 * df["vs_p_H2"]) + (3 * df["vs_p_H3"]) + (4 * df["vs_p_HR"])) / (df["vs_p_PA"] - df["vs_p_BB"] - df["vs_p_HP"] - df["vs_p_SF"] - df["vs_p_SB"])
    new_df["vs_OBP"] = (df["vs_h_HIT"] + df["vs_h_BB"] + df["vs_h_HP"]) / (df["vs_h_AB"] + df["vs_h_BB"] + df["vs_h_HP"] + df["vs_h_SF"])
    new_df["vs_oOBP"] = (df["vs_p_HIT"] + df["vs_p_BB"]) / (df["vs_p_AB"] + df["vs_p_BB"] + df["vs_p_HP"] + df["vs_p_SF"])
    new_df["vs_P_WHIP_RT"] = (df["vs_p_P_WHIP_RT"] / 24) 
    new_df["vs_P2_WHIP_RT"] = (df["vs_p_P2_WHIP_RT"] / 24) 
    new_df["vs_CB_WHIP_RT"] = (df["vs_p_CB_WHIP_RT"] / 24)
    new_df["vs_OPS"] = (new_df["vs_OBP"] + new_df["vs_SLG"])
    new_df["vs_oOPS"] = (new_df["vs_oOBP"] + new_df["vs_oSLG"])
    new_df["vs_RC"] = (((2.4 * vs_RC_C + vs_RC_A) * (3 * vs_RC_C + vs_RC_B)) / (9 * vs_RC_C) - (0.9 * vs_RC_C)) / 24
    new_df["vs_GPA"] = ((1.8 * new_df["vs_OBP"] + new_df["vs_SLG"]) / 4)
    new_df["vs_SECA"] = (((df["vs_h_H2"] * 2) + (df["vs_h_H3"] * 3) + (df["vs_h_HR"] * 4) + df["vs_h_BB"] + (df["vs_h_SB"] - df["vs_h_CS"])) / df["vs_h_AB"])
    new_df["vs_TA"] = ((h_H1 + (df["vs_h_H2"] * 2) + (df["vs_h_H3"] * 3) + (df["vs_h_HR"] * 4) + df["vs_h_HP"] + df["vs_h_BB"] + df["vs_h_SB"]) / (df["vs_h_AB"] - df["vs_h_HIT"] + df["vs_h_CS"] + df["vs_h_GD"]))
    new_df["vs_ISO"] = (new_df["vs_SLG"] - new_df["vs_AVG"])
    new_df["vs_oISO"] = (new_df["vs_oSLG"] - new_df["vs_oAVG"])
    new_df["vs_wOBA"] = ((0.7 * (df["vs_h_BB"] - df["vs_h_IB"]) + (0.73 * df["vs_h_HP"]) + (0.89 * vs_h_H1) + (1.27 * df["vs_h_H2"]) + (1.61 * df["vs_h_H3"]) + (2.07 * df["vs_h_HR"]) + (0.25 * df["vs_h_SB"]) -
                (0.5 * df["vs_h_CS"])) / (df["vs_h_AB"] - df["vs_h_IB"]))
    new_df["vs_P_HRA_RT"] = (df["vs_h_P_HRA_RT"] / 24)
    new_df["vs_DER"] = ((df["vs_p_PA"] - df["vs_p_HIT"] - df["vs_p_KK"] - df["vs_p_BB"] - df["vs_p_HP"] - df["vs_p_IB"] - df["vs_p_BK"]) / (df["vs_p_PA"] - df["vs_p_HR"] - df["vs_p_KK"] - df["vs_p_BB"] - df["vs_p_HP"]))

    
    #new_df.to_csv("convert_temp.csv") 파일로 변환해서 확인해봤습니다.
    return new_df

In [25]:
final_df = convert_attribute(merge_df)
final_df

,T_ID,YEAR,PCT,IDX,MERGE_IDX,WHIP,LOB,ERA,FIP,H_9,...,vs_oOPS,vs_RC,vs_GPA,vs_SECA,vs_TA,vs_ISO,vs_oISO,vs_wOBA,vs_P_HRA_RT,vs_DER
0,LG,2016,0.478992,777,0,1.553238,0.651797,5.320984,1.344022,10.129203,...,0.768101,4.843968,0.270661,0.330788,0.777813,0.134129,0.129125,0.399030,1.488140,0.664708
1,LG,2016,0.500000,1,1,1.583077,0.649666,5.358462,0.918462,10.509231,...,0.717523,0.867676,0.274066,0.316038,0.706539,0.129717,0.135531,0.396445,0.303028,0.698083
2,LG,2016,0.489362,2,2,1.545104,0.664002,5.037779,0.922899,9.971473,...,0.739328,1.707771,0.264412,0.307002,0.708367,0.114901,0.128563,0.387010,0.627427,0.678843
3,LG,2016,0.450704,3,3,1.547938,0.661080,5.219072,1.278866,10.104124,...,0.753612,2.700482,0.268606,0.321061,0.755685,0.129058,0.123604,0.393928,0.924000,0.666831
4,LG,2016,0.452632,4,4,1.558095,0.654992,5.301704,1.415182,10.132843,...,0.767651,3.864941,0.271980,0.337095,0.782764,0.137511,0.129646,0.400780,1.185570,0.666422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4095,OB,2020,0.583333,1,13,1.560247,0.641878,5.255407,1.013388,10.455201,...,0.798672,1.351007,0.270714,0.346481,0.779070,0.145398,0.151373,0.392857,0.404667,0.667943
4096,OB,2020,0.567568,1,14,1.557114,0.640974,5.275551,0.997996,10.442886,...,0.796973,1.346083,0.270085,0.347107,0.774590,0.145755,0.153022,0.391833,0.413926,0.671016
4097,OB,2020,0.578947,1,15,1.545366,0.642147,5.162927,1.000976,10.325854,...,0.798886,1.312872,0.268408,0.344853,0.770688,0.143382,0.152125,0.389919,0.420870,0.670290
4098,OB,2020,0.589744,1,16,1.559886,0.637405,5.261407,0.969582,10.445817,...,0.806261,1.421846,0.269212,0.340228,0.775728,0.140514,0.150685,0.391346,0.432234,0.665505
4099,OB,2020,0.600000,1,17,1.545876,0.639775,5.179796,0.920297,10.384615,...,0.809799,1.385341,0.267409,0.335192,0.763482,0.137979,0.154008,0.388224,0.438186,0.664395

In [26]:
final_df.to_csv("bigcon_cumulate_final_dataset.csv", index = False)